<div class="app" fxLayout="column">
    <mat-toolbar fxFlex="64px" color="primary" class="mat-elevation-z5 nav-bar" style="z-index: 2">

        <!-- Burger Button -->
        <button *ngIf="hamburgerButtonVisible" mat-button (click)="sidenav.toggle()" class="menu-button"><mat-icon>menu</mat-icon></button>

        <!-- TDM Button -->
        <a mat-button class="logobutton" (click)="startClicked()"><img class="logo" src="./assets/images/tdm_logo.svg"></a>
        <!-- <div [fxShow.lt-sm]="false" [fxShow.gt-xs]="true">Test</div> -->

        <!-- Direct Links -->
        <div *ngIf="toolbarMenuVisible" class="nav-buttons" #navbuttons>
            <a #tdm mat-button class="lightupper" (click)="tdmClicked()">Marktplatz</a>
            <a #stats mat-button class="lightupper" (click)="statisticsClicked()">Statistiken</a>
        </div>
        <div fxFlex></div>

        <!-- Login / Register / Account -->
        <app-account></app-account>
    </mat-toolbar>
    <mat-sidenav-container fxFlex>
        <mat-sidenav #sidenav mode="push" align="start" class="mat-elevation-z6">
            <app-index #index [showTopItems]="!toolbarMenuVisible"></app-index>
            <!-- <router-outlet name="sidebar"></router-outlet> -->
        </mat-sidenav>
        <mat-sidenav-content>
        <div class="component-viewer" fxLayout="column">
            <div fxFlex="grow">
                <router-outlet></router-outlet>
            </div>
            <app-footer fxFlex="none"></app-footer>
        </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

