<mat-card class="map-card">
    <div>
        <mat-form-field>
            <input matInput [matDatepicker]="picker"
                   (dateChange)="onDateChanged($event)"
                   [formControl]="dateControl">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <ng-container *ngIf="requestDataReady">
        <google-chart
                [data]="requestData">
        </google-chart>
    </ng-container>
</mat-card>