<h1 i18n="headline">Guthaben verwalten</h1>
<mat-card>
    <mat-card-header i18n>Guthaben im Bitcoin Vault</mat-card-header>
    <mat-card-content>
        <div *ngIf="dataSource.data.length == 0" i18n>Kein Guthaben im Bitcoin Vault gespeichert.</div>
        <div *ngIf="dataSource.data.length > 0">
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="walletid">
                    <mat-header-cell *matHeaderCellDef i18n>Wallet ID</mat-header-cell>
                    <mat-cell *matCellDef="let wallet">{{wallet.walletId}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="unconfirmed">
                    <mat-header-cell *matHeaderCellDef i18n>Guthaben (incl. unbestätigte Mittel) (IUNO)</mat-header-cell>
                    <mat-cell *matCellDef="let wallet">{{wallet.unconfirmed / 100000 | number:'1.0-5'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="confirmed">
                    <mat-header-cell *matHeaderCellDef i18n>Bestätigtes Guthaben (IUNO)</mat-header-cell>
                    <mat-cell *matCellDef="let wallet">{{wallet.confirmed / 100000 | number:'1.0-5'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef i18n>Aktion</mat-header-cell>
                    <mat-cell *matCellDef="let wallet">
                        <button [disabled]="wallet.unconfirmed == 0" (click)="payout(wallet)" mat-raised-button color="primary" i18n>Auszahlung</button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>
    </mat-card-content>
</mat-card>