<div #svgContainer id="svgContainer">
  <svg #svg1 id="svg1" width="0" height="0">
  </svg>
</div>

<div #container class="visualizerContainer" fxLayout="column">
  <div class="upperTwoThirds" fxFlex="66" fxLayout="row">
    <div class="tdhs-container" fxFlex="15" fxLayout="column">
      <div class="tdh-spacer" fxFlex="20">

      </div>
      <div class="tdh-container" fxFlex="*"  fxLayout="row" fxLayoutAlign="center center">
        <div #tdh1 id="tdh1" class="tdh">
          <svg #tdh1svg id="tdh1svg" class="tdh-svg"></svg></div>
      </div>
      <div class="tdh-container" fxFlex="*"  fxLayout="row" fxLayoutAlign="center center">
        <div #tdh2 id="tdh2"  class="tdh">
          <svg #tdh2svg id="tdh2svg" class="tdh-svg"></svg></div></div>
    </div>
    <div class="tdm-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
      <div #tdm id="tdm" class="tdm">tdm</div>
    </div>
    <div class="lc-btc-container" fxFlex="25" fxLayout="column">
      <div class="lc-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
        <div #lc id="lc" class="lc">lc</div>
      </div>
      <div class="btc-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
        <div #btc id="btc"  class="btc">
          <app-blockexplorer #blockexplorer></app-blockexplorer>
        </div>
      </div>
    </div>

  </div>
  <div class="lowerThird" fxFlex="34" fxLayout="row">
    <div class="bottom-spacer" fxFlex="20"></div>
    <div class="machine-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
      <div #machine1 id="machine1" class="machine">
        <svg #machine1svg id="machine1svg" class="machine-svg"></svg>
      </div>
    </div>
    <div class="machine-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
      <div #machine2 id="machine2" class="machine">
        <svg #machine2svg id="machine2svg" class="machine-svg"></svg>
      </div>
    </div>
    <div class="machine-container" fxFlex="*" fxLayout="row" fxLayoutAlign="center center">
      <div #machine3 id="machine3" class="machine">
        <svg #machine3svg id="machine3svg" class="machine-svg"></svg>
      </div>
    </div>
    <div class="bottom-spacer" fxFlex="20"></div>
  </div>
</div>
