.object-image {
    width: 100%;
    max-height: 50vh;
    padding: 5px;
    object-fit: contain;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.section-title {
    color: rgba(0, 0, 0, 0.38);
    font-size: 14px;
    font-weight: bold;
}

.section-text {
}

.section {
    margin: 5px;
    margin-bottom: 10px;
}


mat-list {
    padding: 0px;
}

.detail-container {
    margin: 5px;
}