<div *ngIf="loggedin && user != null" fxLayout="row">
    <button mat-button class="lightupper" [matMenuTriggerFor]="menu">
        <span class="userButton">
            <span fxHide.lt-md>{{getUserDisplayName()}}</span>
            <img class="userImg" src="{{getUserAvatar()}}">
        </span>
    </button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <span>Logout</span>
        </button>
    </mat-menu>
</div>

<div *ngIf="!loggedin">
    <button mat-button class="lightupper" (click)="login()">
        <span fxHide.lt-sm>Anmelden / Registrieren</span>
        <span fxHide.gt-xs>Anmelden</span>
    </button>
</div>