<header>
    <div class="header-background"></div>
    <section class="intro" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center stretch" fxLayoutAlign="center center">
        <div class="intro-logo" fxFlex="40">
            <img src="./assets/images/tdm_text_de.svg" i18n-src>
        </div>
        <div class="intro-text" fxFlex="40">
            <h1 i18n="intro text">
                Der Technologiedatenmarktplatz<br>
                für die<br>
                Lizenz zum Mixen
            </h1>
        </div>
    </section>
</header>

<article class="start-article" fxLayout="column" fxLayoutAlign="center center">

    <!--<section class="start-section news">-->
        <!--&lt;!&ndash;<h2>Neuigkeiten</h2>&ndash;&gt;-->
        <!--<div fxLayoutAlign="space-around center">-->
            <!--<mat-card class="news-card" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch"-->
                      <!--fxLayoutAlign="space-evenly center">-->
                <!--&lt;!&ndash;<mat-card class="news-card" fxLayoutAlign.lt-sm="column" fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center" >&ndash;&gt;-->
                <!--<img src="./assets/images/messe.svg" fxFlex="50">-->

                <!--<div class="news-text" fxFlex="50">-->
                    <!--Besuchen Sie uns auf der Hannover Messe 2018 am Gemeinschaftsstand Industrial Security in <a-->
                        <!--href="http://www.hannovermesse.de/product/iuno/2584729/W779059">Halle 6 auf Stand D02/1</a> oder-->
                    <!--bei <a href="https://axoom.com/de/">AXOOM</a> in <a-->
                        <!--href="http://www.hannovermesse.de/aussteller/axoom/K437493">Halle 8, Stand F12</a>!-->
                <!--</div>-->
            <!--</mat-card>-->
        <!--</div>-->
    <!--</section>-->

    <section class="start-section iuno-general" fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center">

        <div class="start-section-image" fxFlex="50">
            <img src="./assets/images/iuno.svg">
        </div>
        <div class="start-section-text" fxFlex="50">
            <div class="text-headline" i18n="section header|IUNO">Was macht IUNO?</div>
            <p i18n="section|IUNO">
                Im Forschungsvorhaben IUNO, dem Nationalen Referenzprojekt zur IT-Sicherheit in Industrie 4.0, werden
                Bedrohungen und Risiken für die intelligente Fabrik identifiziert, Schutzmaßnahmen entwickelt und
                exemplarisch in vier Anwendungsfällen umgesetzt.
            </p>
        </div>
    </section>
    <hr>
    <section class="start-section marketplace" fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center">
        <div class="start-section-text" fxFlex="50">
            <div class="text-headline" i18n="section header|Technologiedatenmarktplatz">Technologiedatenmarktplatz</div>
            <p i18n="section|Technologiedatenmarktplatz">
                Der Technologiedatenmarktplatz ermöglicht Daten bedarfsgerecht zu handeln, die für einen
                Herstellungsprozeß benötigt werden. Für den bedarfsgerechten Handel ist es notwendig, daß die
                gehandelten Daten auch nur wie gekauft verwendet werden, sprich pro Stück oder pro Zeiteinheit. Der
                erarbeitete Demonstrator gewährt diese Sicherheit über die lizenzgerechte Nutzung der gehandelten Daten.
            </p>
        </div>

        <div class="start-section-image" fxFlex="50" fxLayoutAlign="center center">
            <iframe class="youtube-video" i18n-src src="https://www.youtube-nocookie.com/embed/1CTcGxSz2yc?rel=0&amp;showinfo=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>

    </section>
    <hr>
    <section class="start-section juice" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch"
             fxLayoutAlign="space-evenly center">
        <div class="start-section-image" fxFlex="50">
            <img src="./assets/images/cocktail.svg">
        </div>
        <div class="start-section-text" fxFlex="50">
            <div class="text-headline" i18n="section header|Warum Cocktailrezepte">Warum Cocktailrezepte?</div>
            <p i18n="section|Warum Cocktailrezepte">
                IUNO hat als nationales Referenzprojekt zur IT-Sicherheit in der Industrie 4.0 Leuchtturmcharakter. Es
                muß in der Öffentlichkeit weithin sichtbar sein, um mit den Inhalten und Ergebnissen eine möglichst
                großes Publikum zu erreichen. Dazu benötigt es eine Demonstratormaschine, die auf Messen und Vorträgen
                leicht gezeigt werden kann und das Thema anschaulich transportiert. Aus diesem Grund der
                Technologiedatenmarktplatz an einer Cocktailmischmaschine veranschaulicht. Diese Maschine erweckt
                genügend Aufmerksamkeit und ermöglicht damit den Transfer des sehr trockenen Themas IT-Sicherheit.
            </p>
        </div>


    </section>
    <hr>
    <section class="start-section statistics" fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center">

        <div class="start-section-text" fxFlex="50">
            <div class="text-headline" i18n="section header|Marktplatz ist live">Der Marktplatz ist live!</div>
            <p i18n="section|Marktplatz ist live">
                Der Marktplatz wird mittlerweile von mehreren Maschinen bei den verschiedenen Projektpartnern genutzt.
                Dies zeigen unsere live <a routerLink="/statistics">Dashboards</a>.
            </p>
        </div>
        <div class="start-section-image" fxFlex="50">
            <img src="./assets/images/statistics.svg">
        </div>
    </section>
    <hr>
    <section class="start-section machineoperator" fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center">


        <div class="start-section-image" fxFlex="50">
            <img src="./assets/images/Saftmischer.svg">
        </div>
        <div class="start-section-text" fxFlex="50">
            <div class="text-headline" i18n="section header|Lust am Ausprobieren">Lust am Ausprobieren?</div>
            <p i18n="section|Lust am Ausprobieren">
                Das ganze Projekt ist OpenSource und steht auf Github zur Verfügung.
            </p>
            <p class="logo-env">
                <a href="https://github.com/IUNO-TDM"><img class="github-logo" src="assets/images/Octocat.png"></a>
            </p>
            <p i18n="section add|Lust am Ausprobieren">
                Und wenn Sie selbst eine Maschine bauen möchten, dann wenden Sie sich gerne an uns.
            </p>
        </div>
    </section>
    <hr>
    <section class="start-section trumpf" fxLayout="row" fxLayout.lt-sm="column"
             fxLayoutAlign.lt-sm="center stretch" fxLayoutAlign="space-evenly center">

        <div class="start-section-text" fxFlex="50">
            <div class="text-headline" i18n="section header|Team">Über uns</div>
            <p>
                <ng-container  i18n="section|Team">Das Team hinter dem Projekt:</ng-container>
                <br>
                <span class="developer-link" (click)="showQuote('hans-peter', devs)">Dr.-Ing. Hans-Peter Bock</span>,
                <span class="developer-link" (click)="showQuote('manuel', devs)">Manuel Beuttler</span>,
                <span class="developer-link" (click)="showQuote('christian', devs)">Christian Görg</span>,
                <span class="developer-link" (click)="showQuote('marcel', devs)">Marcel Ely Gomes</span>,
                <span class="developer-link" (click)="showQuote('klaus', devs)">Klaus Bauer</span>

            </p>
        </div>
        <div class="start-section-text" fxFlex="50">
            <p class="logo-env">
                <a href="https://trumpf.com" target="_blank"><img class="trumpf-logo"
                                                                  src="assets/images/TruLogo.svg"></a>
            </p>
        </div>
    </section>

    <section #devs class="start-section developers" fxLayout="row">
        <div [ngClass]="{onTop: quote == 'hans-peter', inactive: quote && quote !='hans-peter'}" class="start-section developer" (click)="showQuote('hans-peter', devs)">
            <div class="text-headline developer-name">Hans-Peter Bock</div>
            <img class="avatar" src="./assets/images/avatars/hans-peter.png">
        </div>
        <section *ngIf="quote == 'hans-peter'" class="start-section quotes" fxLayoutAlign="center">
            <p class="quote" fxFlex="80">
                <span style="white-space: nowrap;"><b>Dr.-Ing. Hans-Peter Bock</b></span>
                <ng-container i18n="section|Team - hpbock">
                <br>
                Experte für Industrie 4.0 Kommunikation und Security
                <br>
                <br>
                Hans-Peter Bock ist Architekt, Ideengeber und Leiter der Entwicklung des Technologiedatenmarktplatz-Ökosystems.
                </ng-container>
            </p>

        </section>
        <div [ngClass]="{onTop: quote == 'manuel', inactive: quote && quote !='manuel'}" class="start-section developer" (click)="showQuote('manuel', devs)">
            <div class="text-headline developer-name">Manuel Beuttler</div>
            <img class="avatar" src="./assets/images/avatars/manuel.png">
        </div>
        <section *ngIf="quote == 'manuel'" class="start-section quotes"fxLayoutAlign="center">
            <p class="quote" fxFlex="80">
                <span style="white-space: nowrap;"><b>Manuel Beuttler</b></span>
                <ng-container  i18n="section|Team - mbeuttler">
                <br>
                System Developer for New Technologies
                <br>
                <br>
                Manuel Beuttler hat im Projekt den Überblick über das Zusammenspiel der verschiedenen Komponenten.
                Er verantwortet die Web-Services, sowie Spezifikation und Absicherung der Schnittstellen.
                </ng-container>
            </p>
        </section>
        <div [ngClass]="{onTop: quote == 'christian', inactive: quote && quote !='christian'}" class="start-section developer" (click)="showQuote('christian', devs)">
            <div class="text-headline developer-name">Christian Görg</div>
            <img class="avatar" src="./assets/images/avatars/christian.png">
        </div>
        <section *ngIf="quote == 'christian'" class="start-section quotes"fxLayoutAlign="center">
            <p class="quote" fxFlex="80">
                <span style="white-space: nowrap;"><b>Christian Görg</b></span>
                <ng-container  i18n="section|Team - cgoerg">
                <br>
                System Architect for Enabling Technologies
                <br>
                <br>
                Christan Görg entwickelt das Bezahlsystem hinter dem Technologiedatenmarktplatz
                und verantwortet den sicheren Umgang mit Technologiedaten auf der Maschinen-Steuerung.
                </ng-container>
            </p>
        </section>
        <div [ngClass]="{onTop: quote == 'marcel', inactive: quote && quote !='marcel'}" class="start-section developer" (click)="showQuote('marcel', devs)">
            <div class="text-headline developer-name">Marcel Ely Gomes</div>
            <img class="avatar" src="./assets/images/avatars/marcel.png">
        </div>
        <section *ngIf="quote == 'marcel'" class="start-section quotes"fxLayoutAlign="center">
            <p class="quote" fxFlex="80">
                <span style="white-space: nowrap;"><b>Marcel Ely Gomes</b></span>
                <ng-container i18n="section|Team - mgomes">
                <br>
                System Architect for Big Data and Analytics
                <br>
                <br>
                Marcel Ely Gomes arbeitet am Herzen des Technologiedaten Marktplatz.
                Er verantwortet das Datenbankdesign und entwickelt die Datenbank spezifischen Sicherheitskonzepte.
                </ng-container>
            </p>
        </section>
        <div [ngClass]="{onTop: quote == 'klaus', inactive: quote && quote !='klaus'}" class="start-section developer" (click)="showQuote('klaus', devs)">
            <div class="text-headline developer-name">Klaus Bauer</div>
            <img class="avatar" src="./assets/images/avatars/klaus.png">
        </div>
        <section *ngIf="quote == 'klaus'" class="start-section quotes"fxLayoutAlign="center">
            <p class="quote" fxFlex="80">
                <span style="white-space: nowrap;"><b>Klaus Bauer</b></span>
                <ng-container i18n="section|Team - kbauer">
                <br>
                Experte für Informations- und Kommunikationstechnologien in Produktionsnetzwerken
                <br>
                <br>
                Klaus Bauer leitet den Bereich Basistechnologien bei TRUMPF und ist Visionsgeber des Technologiedatenmarktplatz.
                <br>
                Er beschrieb die Ideen dieses Marktplatzes bereits in den Umsetzungsempfehlungen von Industrie 4.0 und der Smart Service Welt.
                </ng-container>
            </p>
        </section>
    </section>

</article>
